
<h1> Pacto Formulários </h1>




<form [formGroup]="formGroup" (submit)="submitHandler($event)">

  <pct-form-field>
    <pct-field-label> Nome </pct-field-label>
    <input pctTextInput formControlName="nome">
    <pct-field-info> Preencha seu nome completo para sabermos mais sobre você. </pct-field-info>
    <pct-field-error *ngIf="nomeFc.hasError('required')"> O nome é obrigatório. </pct-field-error>
    <pct-field-error *ngIf="nomeFc.hasError('maxlength')"> O nome não pode ser maior do que 20 caracteres. </pct-field-error>
  </pct-form-field>


  <pct-form-field>
    <pct-field-label> Estado de Origem </pct-field-label>
    <select pctSelect formControlName="estado">
      <option></option>
      <option value="GO"> Goias </option>
      <option value="SP"> São Paulo </option>
      <option value="MG"> Minas Gerais </option>
    </select>
    <pct-field-error> O estado é obrigatório. </pct-field-error>
  </pct-form-field>

  <pct-form-field>
    <pct-field-label> Tipo de Plano </pct-field-label>
    <pct-select formControlName="plano">
      <pct-select-option *ngFor="let tipo of tiposDePlano" [value]="tipo.nome">
        {{ tipo.nome }} - R${{ tipo.preco }},00
      </pct-select-option>
    </pct-select>
    <pct-field-error> O Tipo de plano é obrigatório. </pct-field-error>
  </pct-form-field>

  <!-- <pct-form-field>
    <pct-field-label> Tipo de Plano </pct-field-label>
    <pct-select formControlName="plano">
      
      <div class="tipo-selected" *pctSelectCurrent="let item">
        <img src="https://avataaars.io/?avatarStyle=Circle" />
        {{ item }}
      </div>

      <pct-select-option *ngFor="let tipo of tiposDePlano" [value]="tipo.nome">
        {{ tipo.nome }} - R${{ tipo.preco }},00
      </pct-select-option>

    </pct-select>
  </pct-form-field> -->

  <button type="submit"> Enviar </button>

</form>
