
<h1> Pacto Formulários </h1>




<form [formGroup]="formGroup" (submit)="submitHandler($event)">

  <div class="form-field">
    <label class="form-label" for="nome">Nome</label>
    <input class="pct-input" type="text" formControlName="nome" name="nome" id="nome">
    
    <span class="info-msg"> Preencha seu nome completo para sabermos mais sobre você. </span>
    <span class="error-msg" *ngIf="(submitted || formGroup.get('nome').touched) && formGroup.get('nome').hasError('required')">
      O nome é obrigatório.
    </span>
  
  </div>

  <div class="form-field">
    <label class="form-label" for="nome">Estado de Origem </label>
    <select class="pct-select" name="estado" id="estado" formControlName="estado">
      <option></option>
      <option value="GO"> Goias </option>
      <option value="SP"> São Paulo </option>
      <option value="MG"> Minas Gerais </option>
    </select>
    <span class="error-msg" *ngIf="(submitted || formGroup.get('estado').touched) && formGroup.get('estado').hasError('required')"> O estado é obrigatório. </span>
  </div>

  <button type="submit"> Enviar </button>


</form>