

:host {
  display: block;
  padding: 30px;
  max-width: 600px;
}

.professor-selected-item {
  display: flex;
  align-items: center;
  img {
    width: 20px;
    margin-right: 5px;
  }
}

.professor-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px;

  &:not(.last) {
    border-bottom: 1px dashed #e3e3e3;
  }

  img {
    width: 30px;
    margin-right: 5px;
  }

  .info {
    flex-grow: 1;
    
    .formacao {
      font-weight: bold;
      color: darkslateblue;
    }
  }
  
  .actions {
    color: darkslateblue;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    i {
      padding-left: 5px;
    }
  }

}


