
:host {
    display: block;

    &.dropdown-open {
        outline: none;
    }
}

.pct-display-value {
    width: 100%;
    position: relative;
    border: 1px solid #767676;
    line-height: 22px;
    padding: 5px;
    border-radius: 2px;
    background-color: white;
    cursor: default;
    
    i {
        position: absolute;
        right: 4px;
        top: 7px;
        font-size: 12px;
    }
}

.dropdown-container-anchor {
    position: relative;
    width: 100%;
    height: 0px;
}

.dropdown-container {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 0px;
    z-index: 1;
    background-color: white;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}
