
<div class="pct-display-value" (click)="displayClickHandler()">

    <i class="bi bi-chevron-down"></i>

    <ng-container *ngIf="valueIsDefined">

        <ng-container *ngIf="selectedValueTemplate">
            <ng-container 
            *ngTemplateOutlet="selectedValueTemplate; context: { $implicit: internalValue }"
            ></ng-container>
        </ng-container>

        <ng-container *ngIf="!selectedValueTemplate">
            {{ internalValue }}
        </ng-container>

    </ng-container>

    <ng-container *ngIf="!valueIsDefined"> Selecione um valor </ng-container>

</div>

<div class="dropdown-container-anchor">
    <div class="dropdown-container" *ngIf="isDropdownOpen">
        <ng-content></ng-content>
    </div>
</div>
