:host {
    display: block;
    cursor: pointer;
    
    &:hover {
        background-color: rgb(247, 247, 247);
    }
}

.wrapper {
    padding: 3px;
    
    &.selected {
        background-color: rgb(247, 247, 247);
    }
}