:host {
    display: block;
    cursor: pointer;
    
    &:hover {
        background-color: rgb(247, 247, 247);
    }
}

.wrapper {
    font-size: 14px;
    padding: 0px 3px;
    
    &.selected {
        background-color: rgb(247, 247, 247);
    }
}